#forest{
	width: 250px;
	height: 25px;
	margin-top: 25px;
	border-radius: 5px;

}

#mountain{
	width: 250px;
	height: 25px;
	margin-top: 10px;
	border-radius: 5px;

}

#back{
	width: 250px;
	height: 25px;
	margin-top: 10px;
	border-radius: 5px;

}