#MainScreen{
	display: flex;
	flex-direction: row;
	width:700px;
	justify-content: space-between;
}

#Shop{
	display: flex;
	flex-direction: column;
}

#Inventory{
	display: flex;
	flex-direction: column;
	padding-left: 30px;
}

.shopItem{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 300px;
}

.inventorySlot{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 300px;
}

#goldTitle{
	font-size: 22px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#shopTitle{
	font-size: 28px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#inventoryTitle{
	font-size: 28px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#back{
	width: 250px;
	height: 25px;
	margin-top: 25px;
	border-radius: 5px;

}